<section class="panel">
  <div class="panel-heading">
    editar perfil
  </div>
  <div class="panel-body">

    <div class="authform">
      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group">
          <%= f.input :name, label: 'Nome' %>
        </div>

        <%= f.simple_fields_for :profile do |profile| %>
          <%= profile.input :avatar, label: 'Foto' %>
          <%= profile.input :school, label: 'Escola' %>
          <%= profile.input :responsible_name, label: 'Nome do responsável' %>
          <%= profile.input :responsible_email, label: 'Email do responsável' %>
          <%= profile.input :responsible_phone, label: 'Telefone do responsável', input_html: {class: "cellphone"} %>
        <% end %>

        <hr>

        <div class="form-group">
          <%= f.input :email, label: 'Email' %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
        </div>
        <fieldset>
          <p>Deixe estes campos em branco se você não quiser alterar sua senha.</p>
          <div class="form-group">
            <%= f.input :password, :autocomplete => 'off', label: 'Nova Senha' %>
          </div>
          <div class="form-group">
            <%= f.input :password_confirmation, label: 'Confirme sua senha' %>
          </div>
        </fieldset>
        <hr>
        <fieldset>
          <p>Você deve digitar sua senha para fazer alterações.</p>
          <div class="form-group">
            <%= f.input :current_password, label: 'Senha atual' %>
          </div>
        </fieldset>
        <%= f.submit 'Enviar', :class => 'btn btn-success' %>
      <% end %>
    </div>

  </div>
</section>
