#filterrific_results
  .media-gal#gallery
    - lessons.where(discipline_id: discipline.id).order("unity asc").each_slice(3) do |lessons_sliced|
      .row
        .col-lg-12
        - lessons_sliced.each do |lesson|
          - if lesson.grade.id.to_s == current_user.grade.to_s && current_user.role == "student"
            .col-lg-4{name: "#{lesson.unity}"}
              - if lesson.discipline.name == discipline.name
                %div{class: "video item", style: "width:100%!important", name: "#{lesson.unity}"}
                  %a{:href => backoffice_lesson_path(lesson)}
                    = image_tag(lesson.image.url)
                    %hr
                    %h4{style: "font-weight:bold"}= lesson.title.truncate_words(3).capitalize
                    %small= 'Unidade ' + lesson.unity.to_s
                    - if current_user.role == 'admin'
                      %br
                      = link_to fa_icon('trash', text: 'Excluir aula', class: 'text-danger'), backoffice_lesson_path(lesson), method: :delete, data: { confirm: 'Tem certeza?' }
          
          - else
            .col-lg-4{name: "#{lesson.unity}"}
              - if lesson.discipline.name == discipline.name
                %div{class: "video item", style: "width:100%!important", name: "#{lesson.unity}"}
                  %a{:href => backoffice_lesson_path(lesson)}
                    = image_tag(lesson.image.url)
                    %hr
                    %h4{style: "font-weight:bold"}= lesson.title.truncate_words(3).capitalize
                    %small= 'Unidade ' + lesson.unity.to_s
                    %br/
                    %small= lesson.grade.name
                    - if current_user.role == 'admin' || current_user.role == "manager"
                      %br
                      = link_to fa_icon('trash', text: 'Excluir aula', class: 'text-danger'), backoffice_lesson_path(lesson), method: :delete, data: { confirm: 'Tem certeza?' }
                      |
                      = link_to fa_icon('pencil', text: 'Editar aula', class: 'text-warning'), edit_backoffice_lesson_path(lesson)

    -# = paginate lessons

    - if lessons.blank?
      .alert.alert-info.alert-block.fade.in
        %h4
          %i.fa.fa-info-circle
          Oops!
        %p Não há nada por aqui...
