!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Reforco'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Reforco'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = stylesheet_link_tag    'style'
    = stylesheet_link_tag    'style-responsive'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = csrf_meta_tags
  %body{class: 'login-body'}
    = yield
