- content_for :header do
  = @lesson.title

.row
  .col-lg-8
    = video_tag(@lesson.video.url, controls: true)
  .col-lg-4
    = render 'backoffice/lessons/partials/content', lesson: @lesson

%hr

%h1.prf-border-head{style: "font-size:50px;border-bottom:0"} Exercício

= simple_form_for [:backoffice, @lesson], validate: true do |lesson|
  = lesson.simple_fields_for :questions, validate: true do |question|
    %h3= question.object.question
    - question.object.metadata.each do |alternative|
      - if @lesson.exercise.status == true

        - if alternative.name == "1" && question.object.answear == alternative.value
          = fa_icon('check-circle-o', class: 'text-success')
          %span{class: 'text-success'}= alternative.value

        - elsif alternative.name == "1" && question.object.answear != alternative.value
          = fa_icon('check-circle-o', class: 'text-warning')
          %span= alternative.value

        - elsif alternative.name != "1" && question.object.answear == alternative.value
          = fa_icon('times-circle-o', class: 'text-danger')
          %span{class: 'text-danger'}= alternative.value

        - else
          = question.radio_button :answear, alternative.value, :disabled => true
          = alternative.value

      - else
        = question.radio_button :answear, alternative.value, validate: { presence: true }, required: 'required'
      %br
  %br
  = lesson.simple_fields_for :exercise do |exercise|
    = exercise.input :status, as: :hidden, input_html: {value: 'true'}
  = lesson.submit 'Enviar', class: 'btn btn-success btn-sm' if @lesson.exercise.status != true

%hr

= link_to fa_icon('arrow-left', class: 'text-default', text: 'Voltar'), backoffice_lessons_path
- if current_user.role == 'admin'
  |
  = link_to fa_icon('edit', class: 'text-warning', text: 'Editar'), edit_backoffice_lesson_path(@lesson)
